.Rproj.user
.Rhistory
.RData
.Ruserdata
notes/
manuscript/scientometrics-review-1-geo-titles.pdf
manuscript/scientometrics-review-1-geo-titles.txt
scientometrics-review-1-geo-titles.md
manuscript/SCIM*
